.btn1{
    background-color: #02020200;
    border:none;
    font-size: medium

}
.butn1{
    background-color: #02020200;
    border:none;
    font-size: medium

}
.buttn1{
    background-color: #02020200;
    border:none;
    font-size: medium

    .navbar {
        height: 80px; // your custom height
        
         display: flex;
         
        